MERCADO_PAGO_ACCESS_TOKEN=
NEXT_PUBLIC_MERCADO_PAGO_PUBLIC_KEY=
NEXT_PUBLIC_WHATSAPP_NUMBER=
NEXT_PUBLIC_DELIVERY_FEE=
NEXT_PUBLIC_SITE_URL=
ORDERS_ADMIN_TOKEN=
ADMIN_USERNAME=
ADMIN_PASSWORD=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
PIX_KEY=
PIX_MERCHANT_NAME=
PIX_MERCHANT_CITY=
